# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Firebase function build artifacts
functions/lib/
functions/node_modules/
